html, body {
  margin:0;
  background-color: #000 
}

main {
 position:absolute;
 width:100vmin;
 height:100vmin;
 left:50%;
 top:50%;
 margin-left:-50vmin;
 margin-top:-50vmin;
 background-color:#222;
}