/*article {
 position:absolute;
 width:100vmin;
 height:100vmin;
 left:50%;
 top:50%;
 margin-left:-50vmin;
 margin-top:-50vmin;
 background:#000;
 color:#fff;
}*/
svg {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  cursor: pointer;
}
svg text {
  pointer-events: none;
}
main img {
  position:absolute;
  pointer-events:none;
  width:16%;
}
img#cheese {
  left: 72.5%;
  top:74%;
}