main img,
canvas,
svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  margin: 0;
}
svg {
  height: 100%;
}
img#wall{
  position:relative;
  width: 100%;
}
img#over {
  left:39.5%;
  top:58.125%;
  width: 5.8333%;
  height: 7.1875%;
  pointer-events:none;
}
canvas {
  width: 25%;
  left:25.5%;
  top:18.75%;
} 