body {
  margin: 0;
  background-color: #000;
}
article {
  position: absolute;
  box-sizing: border-box;
  top: calc(50vh - 50vmin);
  left: calc(50vw - 50vmin);
  width: 100vmin;
  height: 100vmin;
  /*background-color: #200;
  border: 1px solid #600;*/
}
h1 {
  margin: 0;
  width: 100%;
  text-align: center;
  font-size: 30vmin;
  color: #300;
}

/*********** REMOVE ALL CODE ABOVE THIS LINE IN PRODUCTION **********/

div.game {
position: absolute;
top: 10%;
width:100%;
height:80%;
background-color: #22221a;
}
article img {
position:relative;
width: 20%;
border-radius:4%;
box-sizing: border-box;
border: 1px solid #886;
vertical-align: top;
}
article img[src*='bk'] {
border:none;
}
span {
position: relative;
width: 20%;
height: 25%;
display: inline-block;
box-sizing: border-box;
border: 1px solid #886;
border-radius: 4%;
background-color: #ffe;
font-size: 18vmin;
text-align: center;
}
article img.swap,
span.swap {
z-index:1;
-webkit-filter: drop-shadow(1vmin 1vmin 1.5vmin #ffc);
-moz-filter: drop-shadow(4px 4px 8px #ffc);
-ms-filter: drop-shadow(4px 4px 8px #ffc);
-o-filter: drop-shadow(4px 4px 8px #ffc);
filter: drop-shadow(4px 4px 8px #ffc);
/*position:absolute;*/
}
article img,
article span{
transition: opacity 2s 2s ease-in-out;
-moz-transition: opacity 2s 2s ease-in-out;
-webkit-transition: opacity 2s 2s ease-in-out;
}
article img.found,
article span.found{
opacity: 0.2;
}